/* -------------------------------- 
 01.Custom Icons
-------------------------------- */

[class^="ico-"] { 
	display: inline-block; 
	vertical-align: middle; 
}

.ico-buldozer { 
	background: url(../images/icons/buldozer.png) 50% no-repeat; 
	width: 72px; 
	height: 38px; 
}

.ico-car { 
	background: url(../images/icons/car.png) 50% no-repeat; 
	width: 60px; 
	height: 28px;  
}

.ico-concrete-truck { 
	background: url(../images/icons/concrete-truck.png) 50% no-repeat; 
	width: 71px; 
	height: 48px;  
}

.ico-excavator { 
	background: url(../images/icons/excavator.png) 50% no-repeat; 
	width: 71px; 
	height: 30px; 
}

.ico-roller-machine { 
	background: url(../images/icons/roller-machine.png) 50% no-repeat; 
	width: 71px; 
	height: 36px;  
}

.ico-tower-crane { 
	background: url(../images/icons/tower-crane.png) 50% no-repeat; 
	width: 65px; 
	height: 71px; 
}